@import 'tailwindcss';
@plugin "daisyui";

@layer utilities {
  .btn-outline {
    --btn-border: color-mix(in oklab, currentColor 40%, transparent);
  }

  .btn:focus-visible {
    outline-color: color-mix(in oklab, currentColor 50%, transparent);
  }

  input:focus,
  .input:focus-visible {
    outline-style: 1px solid;
    outline-color: color-mix(in oklab, currentColor 50%, transparent);
    border-color: color-mix(in oklab, currentColor 40%, transparent);
    outline-offset: 0;
  }
}

@keyframes pop-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pop-in {
  animation: pop-in 0.15s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}
